@font-face {
    font-family: 'Neue Einstellung';
    src: url('./assets/fonts/NeueEinstellung/NeueEinstellung-ExtraLight.eot');
    src: url('./assets/fonts/NeueEinstellung/NeueEinstellung-ExtraLight.woff2')
            format('woff2'),
        url('./assets/fonts/NeueEinstellung/NeueEinstellung-ExtraLight.woff')
            format('woff'),
        url('./assets/fonts/NeueEinstellung/NeueEinstellung-ExtraLight.ttf')
            format('truetype');
    font-weight: 200;
    font-display: swap;
}

/* Going off the book for Danielle Lise Dufour, because she is cute! */
@font-face {
    font-family: 'Neue Einstellung';
    src: url('./assets/fonts/NeueEinstellung/NeueEinstellung-Regular.eot');
    src: url('./assets/fonts/NeueEinstellung/NeueEinstellung-Regular.woff2')
            format('woff2'),
        url('./assets/fonts/NeueEinstellung/NeueEinstellung-Regular.woff')
            format('woff'),
        url('./assets/fonts/NeueEinstellung/NeueEinstellung-Regular.ttf')
            format('truetype');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('./assets/fonts/NeueEinstellung/NeueEinstellung-Light.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/NeueEinstellung/NeueEinstellung-Light.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('./assets/fonts/NeueEinstellung/NeueEinstellung-Light.woff')
            format('woff'),
        /* Pretty Modern Browsers */
            url('./assets/fonts/NeueEinstellung/NeueEinstellung-Light.ttf')
            format('truetype'); /* Safari, Android, iOS */
    font-display: swap;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('./assets/fonts/NeueEinstellung/NeueEinstellung-Medium.eot');
    src: url('./assets/fonts/NeueEinstellung/NeueEinstellung-Medium.woff2')
            format('woff2'),
        url('./assets/fonts/NeueEinstellung/NeueEinstellung-Medium.woff')
            format('woff'),
        url('./assets/fonts/NeueEinstellung/NeueEinstellung-Medium.ttf')
            format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('./assets/fonts/NeueEinstellung/NeueEinstellung-Bold.eot');
    src: url('./assets/fonts/NeueEinstellung/NeueEinstellung-Bold.woff2')
            format('woff2'),
        url('./assets/fonts/NeueEinstellung/NeueEinstellung-Bold.woff')
            format('woff'),
        url('./assets/fonts/NeueEinstellung/NeueEinstellung-Bold.ttf')
            format('truetype');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Einstellung';
    src: url('./assets/fonts/NeueEinstellung/NeueEinstellung-ExtraBold.eot');
    src: url('./assets/fonts/NeueEinstellung/NeueEinstellung-ExtraBold.woff2')
            format('woff2'),
        url('./assets/fonts/NeueEinstellung/NeueEinstellung-ExtraBold.woff')
            format('woff'),
        url('./assets/fonts/NeueEinstellung/NeueEinstellung-ExtraBold.ttf')
            format('truetype');
    font-weight: 700;
    font-display: swap;
}
