@mixin small {
  @media (min-width: 40rem) {
    @content;
  }
}

@mixin medium {
  @media (min-width: 48rem) {
    @content;
  }
}

@mixin large {
  @media (min-width: 64rem) {
    @content;
  }
}

@mixin xLarge {
  @media (min-width: 80rem) {
    @content;
  }
}

.nav {
  padding: 1.5rem;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;

  @include large {
    display: block;
  }
}

.container {
  margin: 0 auto;
  position: relative;
}

.logo {
  position: absolute;
  left: 1.5rem;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.logoIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.navLinks {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  position: relative;
  text-decoration: none;
  padding-bottom: 2px;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    border-radius: 30px;
    height: 3px;
    bottom: -8px;
    left: -8px;
    right: -8px;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
  }

  &:hover::after,
  &.active::after {
    width: calc(
      100% + 16px
    ); /* Adjust width to account for left/right extension */
  }
}

.middleLink {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.navLinks > .link:first-child {
  width: 140px;
}
