.footer {
  padding: 1.5rem;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.container {
  margin: 0 auto;
  max-width: 720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  position: relative;
  text-decoration: none;
  padding-bottom: 2px;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -10px;
    left: -8px;
    right: -8px;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
    border-radius: 1.5px;
  }

  &:hover::after,
  &.active::after {
    width: calc(100% + 16px);
  }

  &:hover {
    opacity: 0.8;
    transition: opacity 0.15s;
  }
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 1rem;

  .link::after {
    display: none; // Disable underline effect for social links
  }
}

.iconContainer {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
}

.icon {
  width: 1.0rem;
  height: 1.0rem;
  color: #000;
}

