html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    cursor: url('/favicon-32x32.png'), auto;
}

html {
    scroll-behavior: smooth;
    /* trying to fix mobile url bar issue */
    height: stretch;
    height: -webkit-fill-available;
    height: -moz-available;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', serif;
    font-size: 1.2rem;
}

h1,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: 100;
}

h2 {
    margin: 0 0 10px 0;
    font-size: 38px;
    font-weight: 400;
    font-family: 'Mulish', serif;
}

h1,
h3 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1px;
}

h3 {
    font-size: 21px;
}

h4 {
    letter-spacing: 2px;
    font-size: 1.3rem;
}

h6 {
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
}

.bold {
    font-weight: 500;
}

.center {
    text-align: center;
}

.show-on-mobile {
    display: none;
}

.hidden {
    visibility: hidden;
}

.grecaptcha-badge {
    display: none !important;
}

@media only screen and (max-width: 500px) {
    .hide-on-mobile {
        display: none;
    }
    .show-on-mobile {
        display: inherit;
    }
}
